
/*---
Alt DL
@group			Typography/List
@desc			...
@todo			Implement
@author			Michael Ord
@tags			list,definition
---
...
*/
dl.alt
{
	dt
	{
		font-weight				: normal;
	}

	dd
	{
		font-weight				: 600;
	}
}

/*---
Plain DL
@group			Typography/List
@desc			...
@todo			Implement
@author			Michael Ord
@tags			list,definition
---
...
*/
dl.plain
{
	dt, dd
	{
		font-weight				: normal;
	}
}

/// ...
/// @group framework
/// @access public
%list-unstyled
{
	padding						: 0;

	> li
	{
		list-style				: none;
	}
}

/// ...
/// @group framework
/// @access public
%list-inline
{
	padding						: 0;
	list-style					: none;
	margin-left					: -5px;

	> li
	{
		list-style				: none;
		display					: inline-block;
		padding					: 0 5px;
	}
}

.unstyled, .inline
{
	@if($debug)
	{
		outline					: 1px solid $clr-todo;
	}
}

$default-margin					: 20px;

dd + dt
{
	margin-top					: $default-margin;
}

dt + dt
{
	margin-top					: $default-margin / 2;
}

/*---
List Table
@group			Typography/List
@desc			...
@modifier		list--table-bordered	: Bordered
@todo			Document
@author			Michael Ord
@tags			list,definition
---
<dl class="list list--table {modifier}">
	<dt>Definition Title</dt>
	<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab debitis, nisi obcaecati vero iste ipsum, fugit provident quasi ex quo eos praesentium, accusantium repellat facere consectetur pariatur inventore fuga commodi.</dd>
	<dt>Definition Title</dt>
	<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab debitis, nisi obcaecati vero iste ipsum, fugit provident quasi ex quo eos praesentium, accusantium repellat facere consectetur pariatur inventore fuga commodi.</dd>
	<dt>Definition Title</dt>
	<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit</dd>
	<dt>Definition Title</dt>
	<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit</dd>
	<dt>Definition Title</dt>
	<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab debitis, nisi obcaecati vero iste ipsum, fugit provident quasi ex quo eos praesentium, accusantium repellat facere consectetur pariatur inventore fuga commodi.</dd>
</dl>
*/
.list--table
{
	dt, dd
	{
		display					: inline-block;
		zoom					: 1;
		letter-spacing			: normal;
		word-spacing			: normal;
		vertical-align			: top;
		width					: 50%;
		padding					: 3px 0 4px 0;
		margin					: 0;
	}

	dt
	{
		padding-right			: 1rem;
		margin-right			: -1px;
	}

	dd
	{
		padding-left			: 2%;
		margin-left				: -4px;

		+ dd
		{
			width				: 100%;
			padding				: 0;
			margin				: 0;
			font-weight			: normal;
			text-align			: left;
		}
	}

	@include device(md)
	{
		dt
		{
			//width				: 40%;
		}

		dd
		{
			//width				: 60%;
		}
	}

	&-bordered
	{
		dt, dd
		{
			border-top			: 1px solid #999;
		}
	}

	&-right
	{
		dd
		{
			text-align			: right;
		}
	}
}

/*---
List Line
@group			Typography/List
@desc			...
@todo			Document
@author			Michael Ord
@tags			list,definition
---
<dl class="list list--line">
	<dt>Definition Title</dt>
	<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab debitis, nisi obcaecati vero iste ipsum, fugit provident quasi ex quo eos praesentium, accusantium repellat facere consectetur pariatur inventore fuga commodi.</dd>
	<dt>Definition Title</dt>
	<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab debitis, nisi obcaecati vero iste ipsum, fugit provident quasi ex quo eos praesentium, accusantium repellat facere consectetur pariatur inventore fuga commodi.</dd>
	<dt>Definition Title</dt>
	<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit</dd>
	<dt>Definition Title</dt>
	<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit</dd>
	<dt>Definition Title</dt>
	<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab debitis, nisi obcaecati vero iste ipsum, fugit provident quasi ex quo eos praesentium, accusantium repellat facere consectetur pariatur inventore fuga commodi.</dd>
</dl>
*/
.list--line
{
	dt
	{
		display					: inline-block;

		+ dt
		{
			display				: inline;

			&:before
			{
				content			: "";
				display			: table;
			}
		}
	}

	dd
	{
		display					: inline;

		&:after
		{
			content				: "";
			display				: table;
		}

		> p:only-child
		{
			display				: inline;
		}

		+ dd
		{
			display				: inline-block;
			margin-top			: 1rem;
		}
	}

	dd
	{
		+ dt
		{
			margin-top			: .4rem;
		}
	}
}

/*---
List Numbered
@group			Typography/List
@desc			...
@todo			Document
@author			Michael Ord
@tags			list
---
<ul class="list list--numbered">
	<li>Lorem ipsum dolor sit amet</li>
	<li>Consectetur adipiscing elit</li>
	<li>Integer molestie lorem at massa</li>
	<li>Facilisis in pretium nisl aliquet</li>
	<li>Faucibus porta lacus fringilla vel</li>
	<li>Aenean sit amet erat nunc</li>
</ul>
*/
.list--numbered
{
	counter-reset				: numbered;
	list-style					: none;
	padding						: 0;

	> li
	{
		position				: relative;
		padding					: .5rem 0 .5rem 40px;

		&:before
		{
			counter-increment	: numbered;
			content				: counter(numbered);
			position			: absolute;
			left				: 0;
			top					: 50%;
			text-align			: center;
			border-radius		: 100%;
			transform			: translate(0, -50%);
			width				: 30px;
			height				: 30px;
			line-height			: 30px;
			background			: #efefef;
			color				: #ccc;
			font-size			: 90%;
		}
	}
}

.list
{
	/*---
	List Inline
	@group			Typography/List
	@desc			...
	@todo			Document
	@author			Michael Ord
	@tags			list
	---
	<ul class="list list--inline">
		<li>Lorem ipsum dolor sit amet</li>
		<li>Consectetur adipiscing elit</li>
		<li>Integer molestie lorem at massa</li>
		<li>Facilisis in pretium nisl aliquet</li>
		<li>Faucibus porta lacus fringilla vel</li>
		<li>Aenean sit amet erat nunc</li>
	</ul>
	*/
	&--inline,
	&--horizontal
	{
		@extend %list-inline;
	}

	/*---
	List Justify
	@group			Typography/List
	@desc			...
	@todo			Document
	@author			Michael Ord
	@tags			list
	---
	<ul class="list list--justify">
		<li>Lorem ipsum dolor sit amet</li>
		<li>Consectetur adipiscing elit</li>
		<li>Integer molestie lorem at massa</li>
		<li>Facilisis in pretium nisl aliquet</li>
		<li>Faucibus porta lacus fringilla vel</li>
		<li>Aenean sit amet erat nunc</li>
	</ul>
	*/
	&--justify
	{
		// TODO
		/*
		@extend %list-inline;

		text-align				: justify;
		font-size				: 0;
		line-height				: 0;

		> li
		{
			@extend %default-font;
		}

		&:after
		{
			content				: "";
			display				: inline-block;
			width				: 100%;
		}
		*/
	}

	/*---
	List Unstyled
	@group			Typography/List
	@desc			...
	@todo			Document
	@author			Michael Ord
	@tags			list
	---
	<ul class="list list--unstyled">
		<li>Lorem ipsum dolor sit amet</li>
		<li>Consectetur adipiscing elit</li>
		<li>Integer molestie lorem at massa</li>
		<li>Facilisis in pretium nisl aliquet</li>
		<li>Faucibus porta lacus fringilla vel</li>
		<li>Aenean sit amet erat nunc</li>
	</ul>
	*/
	&--unstyled
	{
		@extend %list-unstyled;
	}
}

.list
{
	/*---
	List Tick
	@group			Typography/List
	@desc			...
	@todo			Document
	@author			Michael Ord
	@tags			list
	---
	<ul class="list list--tick">
		<li>Lorem ipsum dolor sit amet</li>
		<li>Consectetur adipiscing elit</li>
		<li>Integer molestie lorem at massa</li>
		<li>Facilisis in pretium nisl aliquet</li>
		<li>Faucibus porta lacus fringilla vel</li>
		<li>Aenean sit amet erat nunc</li>
	</ul>
	*/
	&--tick
	{
		@extend %list-unstyled;

		> li
		{
			background-image	: url("/src/icons/checkmark.svg");
			background-size		: 16px 16px;
			background-position	: 5px 0;
			padding-left		: 35px;
		}
	}

	/*---
	List Underlined
	@group			Typography/List
	@desc			...
	@modifier		list-underlined--lg			: Large Spacing
	@todo			Document
	@author			Michael Ord
	@tags			list
	---
	<ul class="list list-underlined {modifier}">
		<li>Lorem ipsum dolor sit amet</li>
		<li>Consectetur adipiscing elit</li>
		<li>Integer molestie lorem at massa</li>
		<li>Facilisis in pretium nisl aliquet</li>
		<li>Faucibus porta lacus fringilla vel</li>
		<li>Aenean sit amet erat nunc</li>
	</ul>
	*/
	&-underlined
	{
		> li:not(:first-child)
		{
			margin-top			: .4rem;
		}

		> li:not(:last-child)
		{
			padding-bottom		: .4rem;
			border-bottom		: $underline;
		}

		&--lg
		{
			> li:not(:first-child)
			{
				margin-top		: 1rem;
			}

			> li:not(:last-child)
			{
				padding-bottom	: 1rem;
			}
		}
	}
}
